multiplayerColors {
	player1 {
		/* Mustard */
		color = 0x8e8507;
	}
	player2 {
		/* Green */
		color = 0x568e07;
	}
	player3 {
		/* Purple */
		color = 0x30078e;
	}
	player4 {
		/* Red */
		color = 0x8e072d;
	}
	player5 {
		/* Orange */
		color = 0x8e4d07;
	}
	player6 {
		/* Cyan */
		color = 0x078e70;
	}
}