teamColors {
	blueTeam {
		font-color = 0x4c9cdb;
		color = 0x4c9cdb;
		effect-glow-color = "0x4c9cdb";

	}
	redTeam {
		font-color = 0xda4c4b;
		color = 0xda4c4b;
		effect-glow-color = "0xda4c4b";
	}
	greenTeam {
		font-color = 0x568e07;
		color = 0x568e07;
		effect-glow-color = "0x568e07";
	}
	yellowTeam {
		font-color = 0x8e4d07;
		color = 0x8e4d07;
		effect-glow-color = "0x8e4d07";
	}
}