teamColors {
	blueTeam {
		font-color = 0x4c9cdb;
		color = 0x4c9cdb;
		effect-glow-color = "0x4c9cdb";

	}
	redTeam {
		font-color = 0xda4c4b;
		color = 0xda4c4b;
		effect-glow-color = "0xda4c4b";
	}
}